@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

h1, h2, h3, h4, h5 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    width: 95%;
    margin: auto;
}

.spacer {
    height: 50px;
}

.space {
    height: 30px;
}

header {
    background: #C029BB;
    padding: 5px 0;
    width: 100%;
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container img {
    width: 25%;
}

#store {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar form{
    background: #b7b7b7;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

#topbar form input, #topbar form button {
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: rgb(43, 42, 42);
}

.topbar-icons {
    cursor: pointer;
    font-size: 28px;
}


#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll !important;
    /* overflow-x: hidden !important; */
    gap: 5px;
    justify-content: space-between;
    margin: none !important;
    /* height: 70vh; */
}

.product-box {
    border: red solid 1px;
    border-radius: 10px;
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 14rem;
}

.product-box img {
    /* height: 50%; */
    width: 100%;
}

.product-detail {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    /* border: red solid; */
}

.pro-name {
    text-align: center;
    padding: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

p .price-amt {
    font-size: smaller;
}


.price-btns {
    cursor: pointer;
    background: #C029BB;
    color: #fff;
    font-size: small;
    padding: 2px;
}

.minus-btn {
    background: #400D3E;
}

.qty {
    font-size: xx-small;
    line-height: 1px;
    visibility: hidden;
}

.add-btn{
    width: 100%;
    background: #400D3E;
    border: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background: #D570D1;
    color: #400D3E;
    font-weight: bold;
}

#my-cart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    background: #fff;
    width: 60%;
    height: 100vh;
    position: fixed;
    padding: 20px;
    left: 100%;
    z-index: 7;
    transition: all ease-in-out 0.5s;
}

#cart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-cart {
    background: transparent;
    background: rgb(190, 35, 35);
    color: #fff;
    border: none;
    font-size: x-large;
}

#cart-checkout, #pay-now {
    background-color: #400D3E;
    border: none;
    padding: 10px;
    color:#fff;
    font-size: large;
}

#cart-checkout:hover {
    background-color: #C029BB;
}

#cart-table {
    border: solid #000 1px;
    text-align: left;
}

#cart-table thead {
    border-bottom: solid #000 1px;
    padding: 10px 0;
}

#cart-foot {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
  }

.close-modal {
    position: absolute;
    top: 0.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  #pay-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }

  #receipt {
    width: 80%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }

  #order-details{
    width: 100%;
  }

  .product-line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: dotted;
  }

  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

#foot-btn {
    background: #fff;
    border: none;
    padding: 5px;
}

footer {
    background:#C029BB;
    padding: 10px 0;
    width: 100%;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

